.swiper_hero_bg_wrapper .swiper_slide {
    min-height: 750px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper_hero_bg_wrapper .swiper_slide{
    width: 100%;
}
.swiper_hero_bg_wrapper .swiper_slide img{
    width: 100%;
}
.swiper_hero_bg_wrapper{
    position: relative;
}
.swiper_hero_container::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    background: linear-gradient(90deg, rgba(21, 21, 21, 0) 50%, rgba(21, 21, 21, 0.7) 100%),linear-gradient(180deg, rgba(21, 21, 21, 0) 79.81%, rgba(21, 21, 21, 0.7) 94.94%, #151515 100%);
}

.items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.items .details{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 90%;
    width: 100%;
    padding: 1.2rem;
    background-color: #1e1e1e;
    border-bottom-right-radius: .8rem;
    border-bottom-left-radius: .8rem;
    border: 1px solid #282828;
    z-index: 9999;
    padding: 15px;
    box-sizing: border-box;
    visibility: hidden;
}
.items .item{
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0px;
}
.items .details h5{
    color: white;
    margin: 0px;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: end;
}
.items .details .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items .details .info span{
    color: white;
    margin: 0px;
    font-size: 14px;
}
.items .details .overview{
    color: white;
    margin: 10px 0px 0px 0px;
    font-size: 14px;
    text-align: end !important;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;

}
.item .details .imdb{
    background-color: rgba(245,184,63,.12);
    color: #f5b83f !important;
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
}
.item .details .imdb span{
    color: #f5b83f;
    font-size: 12px;

}
.items:has(.item:hover) .item:not(:hover){
    content: '';
    filter: brightness(0.5);
    transition-delay: 1s;
    z-index: -1;

}
.items .item:hover {
    transform: scale(1.2);
    transition-delay: 1s;
}
.items .item:hover .details{
    opacity:1;
    transition-delay: 1s;
    visibility: visible;
}
.items .item{
    width: calc(100%/5 - 10px);
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    position: relative;
}
.items .item .img_wrapper{
    width: 100%;
}
.items .item .img_wrapper img{
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    z-index: 9;
    position: relative;
}
.items_wrapper{
    width:80% ;
    margin-left: auto;
    margin-right: auto;
    margin-top: -250px;
    margin-bottom: 50px;
    position: relative;
    z-index: 99;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title > div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.title > div svg{
    fill: #f5b83f;
    width: 18px;
}
.title a{
    color: #f5b83f;
    font-size: 14px;
    text-decoration: none;
}
.title h5{
    font-size: 18px;
    color: white;
    font-weight: 600;
}

.skelton_hero{
    max-width: unset;
    padding: unset;
    margin-top: 92px;
}
.skelton_hero .skeleton_image{
    height: 600px;
   background: linear-gradient(90deg, #e0e0e0 25%, #a0a0a0 50%, #e0e0e0 75%);
   background-size: 200% 100%;
}
.skelton_items{
   margin-top: -300px;
}
.see_more{
    position: relative;
    z-index: -1;
}
.see_more button{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    background-color: #151515;
    margin: auto;
    border-radius: 10px;
}
.see_more button svg{
    fill: white;
    width: 20px;
}
.see_more::after{
    content: '';
    width: 100%;
    height: 4px;
    border-top:1px solid white ;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: -1;
}