.swiper_hero_bg_wrapper .swiper_slide {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper_hero_bg_wrapper .swiper_slide{
    width: 100%;
}
.swiper_hero_bg_wrapper .swiper_slide img{
    width: 100%;
}
.swiper-button-prev{
    top: 600px;
}
.swiper-button-next{
    top: 600px;
}