:root{
  --main-color:rgb(39, 43, 51);
  --orange:#ff9800 ;
  --bg-one:#272b33;
  --bg-two:#3c3e44;
}
@font-face {
  font-family: "iranSans";
  src: url("../public/fonts/IRANSans-web.woff2");
}
body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "iranSans";
  font-weight: 400;
  font-style: normal;
}
